<div class="container" style="background-color: #34464c !important; border-radius: 10px; margin-top: 30px; margin-bottom: 30px; padding-top: 20px; padding-bottom: 20px;">
    <div class="row">
        <div class="col">
            <h4 class="text-uppercase logo-sub-text" style="padding-top: 10px; !important">Let's Get Connected!</h4>
        </div>
    </div>
    <div class="row" >
        <div class="col">
            <p class="socio-sub-text text-center" style="color: white">Receive updates through your email</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <script type="text/javascript">var submitted=false;</script>
            <form name="gform" class="gform" enctype="text/plain" action="https://docs.google.com/forms/d/e/1FAIpQLSeOdOi5iGj-rLz6d72FEw14O9B2Il9BuEavlYjDtxhKpyYNlg/formResponse?" target="hidden_iframe" onsubmit="submitted=true;">
                        <div class="form-group">
                            <input type="email" class="form-control ginput" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter E-mail Address" name="entry.1132898242"/>
                            <!-- <i id="submit-form" class="fa fa-arrow-right email-right" aria-hidden="true"></i> -->
                        </div>
                    </form>
            <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>
        </div>
    </div>
</div>