<!-- Bootstrap core JavaScript -->
<script src="{{"/assets/vendor/jquery/jquery.min.js" | relative_url}}"></script>
<script src="{{"/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" | relative_url}}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    function myFunction() {


    }
    $(document).ready(function () {
        my_theme = getCookie("theme");
        $(".toggle-btn").text(my_theme == "Dark Mode" ? "Light Mode" : "Dark Mode");
        var element = document.body;
        console.log("Starting with " + my_theme);
        if (my_theme === "Dark Mode") {
            element.classList.add("dark-mode");
        } else {
            element.classList.remove("dark-mode");
        }

        $(".toggle-btn").click(function () {
            current_theme = $(".toggle-btn").text();
            $(".toggle-btn").text($(".toggle-btn").text() == "Dark Mode" ? "Light Mode" : "Dark Mode");
            document.cookie = "theme=" + current_theme;
            console.log("SET to " + current_theme)

            var element = document.body;
            if (current_theme === "Dark Mode") {
                element.classList.add("dark-mode");
            } else {
                element.classList.remove("dark-mode");
            }
        });
    });
    $(document).ready(cardResize);
    $(window).on("resize", cardResize);

    function cardResize() {
        if ($(window).width() > 3000) {
            $(".card-containers").each(function () {
                var highestBox = 0;

                $(this)
                    .find(".main-card-body")
                    .each(function () {
                        if ($(this).height() > highestBox) {
                            highestBox = $(this).height();
                        }
                    });

                $(this).find(".main-card-body").height(highestBox);
            });
        } else {
            $(".main-card-body").css("height", "auto");
        }
    }
</script>
<!-- Script pointing to search-script.js -->

<script src="{{ site.baseurl }}/assets/js/search-script.js" type="text/javascript"></script>

<script>
    $('#search-input').keyup(function () {
        var text = $('#search-input').val()

        if (text === '') {
            $('.card-columns').show()
            $('#paginator-nav').show()
        } else {
            $('.card-columns').hide()
            $('#paginator-nav').hide()
        }

    });
</script>

<!-- Configuration -->
<script>
    $(document).ready(function () {
        $('img').addClass('img-fluid')
    })
    SimpleJekyllSearch({
        searchInput: document.getElementById('search-input'),
        resultsContainer: document.getElementById('results-container'),
        json: '{{ site.baseurl }}/search.json'
    })
</script>

<script>
    expressvpn_banner_list = [
        'banner-bigbox-e0b01ec70755422701e5fe88ff2d1df1c26a539edc9994d83274acaec296f8fd.jpg',
        'bestformovies-banner-square-71441a0163a8bf8773e04ac9ee495ac9817cb149e3fe8cd0aa8969fcb2f1af7a.jpg',
        'expressvpn-sports-square-champions-league-1fed9a366a578d8585a7514ae4da0f826f7ec08042009d922c3d58dbea90497b.jpg',
        'expressvpn-watch-tv-from-your-home-country-square-6d4e55a3cdc9ec1a8fd8c9f5689100a87853b45f5e70ab7e90698063645b9e92.jpg',
        'hide-your-ip-address_proxysites-square-cbc8350f8935cf970289d7dc1125453648afc3e48276612493c59210b5fa3f68.jpg',
        'ppc-banners-inline-rectangle-access-884ff79ffca141dc8ec0ef696289b1f6086b55fd8aa4e7d6622eb307930e652a.jpg',
        'ppc-banners-inline-rectangle-android-966597d4dd600acf77f5007a8d703966a8706485b1984cd7eb440f3924f86048.jpg',
        'ppc-banners-inline-rectanglemac-7d49cddb373e08b54fb58496bf8bb9bd369609d6a583ca1bef7ad6467693f5b8.jpg',
        'ppc-banners-inline-rectangle-protect-d3a97834b0dbc28f2d7a5a208ff5dec98ee2e65d04e6dc26ec3fa339e4719672.jpg',
        'ppc-banners-inline-rectangle-windows-abaf133a8dfdd5c963bdcf88285146ece15bd60ecceda3cc4936f3ca89d4321d.jpg'
    ]

    src = '/assets/images/banner_ads/expressvpn/'

    for (i = 0; i < 3; i++) {
        index = Math.floor(Math.random() * expressvpn_banner_list.length)
        $('.ad-' + (i + 1)).attr('src', src + expressvpn_banner_list[index]);
        $('.ad-' + (i + 1)).attr('alt', expressvpn_banner_list[index]);
        $('.ad-' + (i + 1)).attr('id', expressvpn_banner_list[index]);
        expressvpn_banner_list.splice(index, 1)
    }
</script>
<!-- This script if for the submission of email form. -->
<script type="text/javascript">
    $(document).ready(function() {
        $('#gform').on('submit', function (e) {
            $('#exampleInputEmail1').val("");
        })

        $('#submit-form').on('click', function (e) {
            document.querySelector('#gform').submit()
            $('#exampleInputEmail1').val("");
        })
    })
</script>