<div class="bg-light" id="sidebar-wrapper">
    <section class="left-top-section">
        <!-- <button class="btn btn-primary navbar" id="menu-toggle"></button> -->

        <div class="container">
            <div class="row">
                <div class="col text-center" style="margin-top: 40px;">
                    <span class="main-logo-span">
                        <a href="{{site.baseurl}}/">
                            <img class="main-logo" src="{{site.baseurl}}/assets/images/evilsaintshield-newlogo.png"
                                alt="evilsaintshield-newlogo" />
                        </a>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4 class="text-uppercase logo-sub-text">Let's Get Connected!</h4>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="socio-sub-text text-center">Receive updates through your email</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <script type="text/javascript">var submitted=false;</script>
                    <form name="gform" class="gform" enctype="text/plain" action="https://docs.google.com/forms/d/e/1FAIpQLSeOdOi5iGj-rLz6d72FEw14O9B2Il9BuEavlYjDtxhKpyYNlg/formResponse?" target="hidden_iframe" onsubmit="submitted=true;">
                        <div class="form-group">
                            <input type="email" class="form-control ginput" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter E-mail Address" name="entry.1132898242"/>
                            <i id="submit-form" class="fa fa-arrow-right email-right" aria-hidden="true"></i>
                        </div>
                    </form>
                    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>
                </div>
            </div>

            <div class="row categories-row">
                <div class="col">
                    <h3>Categories</h3>
                    <hr />
                    <ul>
                        <li>
                            <a class="subcategory-header" style="cursor: pointer;">Attacking</a>
                            <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                <li><a href="{{site.baseurl}}/">Brute-force</a></li>
                                <li><a href="{{site.baseurl}}/">Cracking</a></li>
                                <li><a href="{{site.baseurl}}/">Decompiling</a></li>
                                <li><a href="{{site.baseurl}}/">Reverse Engineering</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="subcategory-header" style="cursor: pointer;">Techniques & Tradecraft</a>
                            <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                <li><a href="{{site.baseurl}}/">Content Discovery</a></li>
                                <li><a href="{{site.baseurl}}/">Exploitation</a></li>
                                <li><a href="{{site.baseurl}}/">Evasion</a></li>
                                <li><a href="{{site.baseurl}}/">Host Discovery</a></li>
                                <li><a href="{{site.baseurl}}/">MITM</a></li>
                                <li><a href="{{site.baseurl}}/">SMB Relaying</a></li>
                                <li><a href="{{site.baseurl}}/">Transfer Files</a></li>
                                <li><a href="{{site.baseurl}}/">Port Scanning</a></li>
                                <li><a href="{{site.baseurl}}/">Shells</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="subcategory-header" style="cursor: pointer;">The Law</a>
                            <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                <li><a href="{{site.baseurl}}/">Computer Misuse Act</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="subcategory-header" style="cursor: pointer;">C2 Channels</a>
                            <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                <li><a href="{{site.baseurl}}/">Beacon</a></li>
                                <li><a href="{{site.baseurl}}/">Cobalt Strike</a></li>
                                <li><a href="{{site.baseurl}}/">Empire</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="subcategory-header" style="cursor: pointer;">Life as a Pentester</a>
                            <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                <li><a href="{{site.baseurl}}/">Engagements</a></li>
                                <li><a href="{{site.baseurl}}/">Reporting</a></li>
                                <li><a href="{{site.baseurl}}/">Mitigation Advice</a></li>
                                <li><a href="{{site.baseurl}}/">KIT</a></li>
                                <li><a href="{{site.baseurl}}/">General Tips and Advice</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="subcategory-header" style="cursor: pointer;">Tools</a>
                            <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                <li><a href="{{site.baseurl}}/">Metasploit</a></li>
                                <li><a href="{{site.baseurl}}/">Nmap</a></li>
                                <li><a href="{{site.baseurl}}/">Wireshark</a></li>
                                <li><a href="{{site.baseurl}}/">TCP Dump</a></li>
                                <a class="subcategory-header" style="cursor: pointer;">Netcat</a>
                                <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                    <li><a href="{{site.baseurl}}/">Sed</a></li>
                                    <li><a href="{{site.baseurl}}/">Awk</a></li>
                                    <li><a href="{{site.baseurl}}/">Curl</a></li>
                                </ul>
                            </ul>
                        </li>
                        <li>
                            <a class="subcategory-header" style="cursor: pointer;">Infrastructure (Inf Assessment)</a>
                            <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                <a class="subcategory-header" style="cursor: pointer;">External</a>
                                <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                    <li><a href="{{site.baseurl}}/">Active Directory</a></li>
                                    <li><a href="{{site.baseurl}}/">OWA</a></li>
                                    <li><a href="{{site.baseurl}}/">VPN</a></li>
                                </ul>
                                <a class="subcategory-header" style="cursor: pointer;">Internal</a>
                                <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                    <li><a href="{{site.baseurl}}/">Active Directory</a></li>
                                </ul>
                            </ul>
                        </li>
                        <li>
                            <a class="subcategory-header" style="cursor: pointer;">Databases</a>
                            <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                <li><a href="{{site.baseurl}}/">MongoDB</a></li>
                                <li><a href="{{site.baseurl}}/">MS-SQL (SQL Server)</a></li>
                                <li><a href="{{site.baseurl}}/">Oracle</a></li>
                                <li><a href="{{site.baseurl}}/">Postgresql</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="subcategory-header" style="cursor: pointer;">Web Apps</a>
                            <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                <li><a href="{{site.baseurl}}/">(Custom) Off The Shelf</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="subcategory-header" style="cursor: pointer;">Technologies</a>
                            <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                <li><a href="{{site.baseurl}}/">Firewalls</a></li>
                                <li><a href="{{site.baseurl}}/">VPN</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="subcategory-header" style="cursor: pointer;">Programming Languages</a>
                            <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                <li><a href="{{site.baseurl}}/">Bash</a></li>
                                <li><a href="{{site.baseurl}}/">Batch</a></li>
                                <li><a href="{{site.baseurl}}/">Golang</a></li>
                                <li><a href="{{site.baseurl}}/">PHP</a></li>
                                <li><a href="{{site.baseurl}}/">PowerShell</a></li>
                                <li><a href="{{site.baseurl}}/">Python</a></li>
                                <li><a href="{{site.baseurl}}/">Ruby</a></li>
                                <li><a href="{{site.baseurl}}/">VBS</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="subcategory-header" style="cursor: pointer;">Operating Systems</a>
                            <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                <a class="subcategory-header" style="cursor: pointer;">Linux</a>
                                <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                    <li><a href="{{site.baseurl}}/">Command Line Kun-Fu</a></li>
                                    <li><a href="{{site.baseurl}}/">System Enumeration</a></li>
                                </ul>
                                <a class="subcategory-header" style="cursor: pointer;">Windows</a>
                                <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                    <li><a href="{{site.baseurl}}/">System Enumeration</a></li>
                                    <li><a href="{{site.baseurl}}/">Registry</a></li>
                                    <li><a href="{{site.baseurl}}/">Windows Password Storage</a></li>
                                    <li><a href="{{site.baseurl}}/">Credential Storage</a></li>
                                </ul>
                            </ul>
                        </li>
                        <li>
                            <a class="subcategory-header" style="cursor: pointer;">Post Exploitation</a>
                            <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                <li><a href="{{site.baseurl}}/">Pillaging</a></li>
                                <li><a href="{{site.baseurl}}/">Privilege Escalation</a></li>
                                <li><a href="{{site.baseurl}}/">Persistence </a></li>
                                <a class="subcategory-header" style="cursor: pointer;">Lateral Movement</a>
                                <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                    <li><a href="{{site.baseurl}}/">Pivoting</a></li>
                                    <li><a href="{{site.baseurl}}/">Remote Code Execution (RCE)</a></li>
                                </ul>
                            </ul>
                        </li>
                        <li>
                            <a class="subcategory-header" style="cursor: pointer;">Protocols</a>
                            <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                <li><a href="{{site.baseurl}}/">CDP</a></li>
                                <li><a href="{{site.baseurl}}/">DNS</a></li>
                                <li><a href="{{site.baseurl}}/">Finger</a></li>
                                <li><a href="{{site.baseurl}}/">FTP</a></li>
                                <li><a href="{{site.baseurl}}/">LDAP</a></li>
                                <li><a href="{{site.baseurl}}/">MySQL</a></li>
                                <li><a href="{{site.baseurl}}/">NFS</a></li>
                                <li><a href="{{site.baseurl}}/">NTP</a></li>
                                <li><a href="{{site.baseurl}}/">R-Services</a></li>
                                <li><a href="{{site.baseurl}}/">RDP</a></li>
                                <li><a href="{{site.baseurl}}/">RPC</a></li>
                                <li><a href="{{site.baseurl}}/">SMB</a></li>
                                <li><a href="{{site.baseurl}}/">SNMP</a></li>
                                <li><a href="{{site.baseurl}}/">SSH</a></li>
                                <li><a href="{{site.baseurl}}/">Telnet</a></li>
                                <li><a href="{{site.baseurl}}/">TFTP</a></li>
                                <li><a href="{{site.baseurl}}/">VOIP</a></li>
                                <li><a href="{{site.baseurl}}/">X-Windows</a></li>
                                <li><a href="{{site.baseurl}}/">XDMCP</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="subcategory-header" style="cursor: pointer;">Networking</a>
                            <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                <a class="subcategory-header" style="cursor: pointer;">Routing Protocols</a>
                                <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                    <li><a href="{{site.baseurl}}/">RIP</a></li>
                                    <li><a href="{{site.baseurl}}/">OSPF</a></li>
                                    <li><a href="{{site.baseurl}}/">EIGRP</a></li>
                                </ul>
                                <li><a href="{{site.baseurl}}/">IPv6</a></li>
                                <li><a href="{{site.baseurl}}/">Vlans</a></li>
                                <li><a href="{{site.baseurl}}/">802.11x</a></li>
                                <li><a href="{{site.baseurl}}/">Wireless</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="subcategory-header" style="cursor: pointer;">Social Engineering</a>
                            <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                <li><a href="{{site.baseurl}}/">Phishing</a></li>
                                <li><a href="{{site.baseurl}}/">Hardware</a></li>
                                <li><a href="{{site.baseurl}}/">Other</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="subcategory-header" style="cursor: pointer;">Reference</a>
                            <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                <li><a href="{{site.baseurl}}/">Cheatsheets</a></li>
                                <li><a href="{{site.baseurl}}/">Wallpapers</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="subcategory-header" style="cursor: pointer;">Capture-the-Flag(s)</a>
                            <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                <li><a href="{{site.baseurl}}/">HTB</a></li>
                                <li><a href="{{site.baseurl}}/">Vulnhub</a></li>
                            </ul>
                        </li>
                        <script>
                            $('.subcategory-header').on('click', function() {
                                $(this).next().slideToggle()
                            })
                            $('.subcategory').hide()
                        </script>
                    </ul>
                </div>
            </div>
            <div class="row tags-row-left">
                <div class="col">
                    <h3>Tags</h3>
                    <hr />
                    {% for tag in site.tags %}
                        <button class="btn tags-btn">
                            <a href="{{ site.baseurl }}/tags/{{ tag[0] }}">
                            {{ tag[0] }}
                            {% assign t = tag | first %}
                            {% assign posts = tag | last %}
                            ({{ posts | size }})
                            </a>
                        </button>
                    {% endfor %}
                </div>
            </div>

            <div class="row justify-content-center about-me-row">
                <div class="col">
                    <h3 class="about-heading">ABOUT ME</h3>
                </div>
            </div>
            <div class="row person-row justify-content-center">
                <div class="col-12 text-center">
                    <img src="{{site.baseurl}}/assets/images/VA2_copy.png" alt="person-img" />
                </div>
                <div class="col-12 text-center">
                    <p>"Red Teamer, Security Researcher and Pentest Tool Creator OSCP, WAPTx, PPTP, Security+"</p>
                </div>
                <div class="col-12 text-center">
                    <a href="{{site.baseurl}}/">
                        <button class="btn left-read-more">Read More</button>
                    </a>
                </div>
            </div>
            <div class="row justify-content-center">
                <p style="color: rgb(182, 182, 182)">This website uses cookies to enhance user experience.</p>
            </div>
        </div>
    </section>
</div>