<div class="bg-light" id="sidebar-wrapper">
    <section class="left-top-section">
        <!-- <button class="btn btn-primary navbar" id="menu-toggle"></button> -->

        <div class="container">
            <div class="row">
                <div class="col text-center" style="margin-top: 40px;">
                    <span class="main-logo-span">
                        <a href="{{site.baseurl}}/">
                            <img class="main-logo" src="{{site.baseurl}}/assets/images/evilsaintshield-newlogo.png"
                                alt="evilsaintshield-newlogo" />
                        </a>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4 class="text-uppercase logo-sub-text">Let's Get Connected!</h4>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="socio-sub-text text-center">Receive updates through your email</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <script type="text/javascript">var submitted=false;</script>
                    <form name="gform" class="gform" enctype="text/plain" action="https://docs.google.com/forms/d/e/1FAIpQLSeOdOi5iGj-rLz6d72FEw14O9B2Il9BuEavlYjDtxhKpyYNlg/formResponse?" target="hidden_iframe" onsubmit="submitted=true;">
                        <div class="form-group">
                            <input type="email" class="form-control ginput" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter E-mail Address" name="entry.1132898242"/>
                            <i id="submit-form" class="fa fa-arrow-right email-right" aria-hidden="true"></i>
                        </div>
                    </form>
                    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>
                </div>
            </div>

            <div class="row categories-row">
                <div class="col">
                    <h3>Categories</h3>
                    <hr />
                    <ul>
                        <li><a href="/"></a></li>
                        <li><a href="/"></a></li>
                        <li><a href="/"></a></li>
                        <li><a href="/"></a></li>
                        <li><a href="/"></a></li>
                        <!-- <li><a href="{{site.baseurl}}/coding/">Coding</a></li> -->
                        <li><a href="{{site.baseurl}}/programming/">Programming</a></li>
                        <li><a href="{{site.baseurl}}/hacking/">Hacking</a></li>
                        <li><a href="{{site.baseurl}}/security/">Security</a></li>
                        <li><a href="{{site.baseurl}}/news/">News</a></li>
                        <li><a href="{{site.baseurl}}/tools/">Tools</a></li>
                        <li>
                            <a class="subcategory-header" style="cursor: pointer;">Capture The Flag (CTF)</a>
                            <ul class="subcategory" style="padding-left: 30px; cursor: pointer;">
                                <li><a href="{{site.baseurl}}/vulnhub/">Vulnhub</a></li>
                                <li><a href="{{site.baseurl}}/hackthebox/">HackTheBox</a></li>
                            </ul>
                            <script>
                                $('.subcategory-header').on('click', function() {
                                    $(this).next().slideToggle()
                                })
                                $('.subcategory').hide()
                            </script>
                        </li>
                        <li><a href="{{site.baseurl}}/hack-the-box/">Hack The Box (HTB)</a></li>
                    </ul>
                </div>
            </div>
            <div class="row tags-row-left">
                <div class="col">
                    <h3>Tags</h3>
                    <hr />
                    {% for tag in site.tags %}
                        <button class="btn tags-btn">
                            <a href="{{ site.baseurl }}/tags/{{ tag[0] }}">
                            {{ tag[0] }}
                            {% assign t = tag | first %}
                            {% assign posts = tag | last %}
                            ({{ posts | size }})
                            </a>
                        </button>
                    {% endfor %}
                </div>
            </div>

            <div class="row justify-content-center about-me-row">
                <div class="col">
                    <h3 class="about-heading">ABOUT ME</h3>
                </div>
            </div>
            <div class="row person-row justify-content-center">
                <div class="col-12 text-center">
                    <img src="{{site.baseurl}}/assets/images/VA2_copy.png" alt="person-img" />
                </div>
                <div class="col-12 text-center">
                    <p>"Red Teamer, Security Researcher and Pentest Tool Creator OSCP, WAPTx, PPTP, Security+"</p>
                </div>
                <div class="col-12 text-center">
                    <a href="{{site.baseurl}}/">
                        <button class="btn left-read-more">Read More</button>
                    </a>
                </div>
            </div>
            <div class="row justify-content-center">
                <p style="color: rgb(182, 182, 182)">This website uses cookies to enhance user experience.</p>
            </div>
        </div>
    </section>
</div>