blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

.table-of-contents>li {
    font-size: 18px;
    padding: 5px;
}

.hr-reference {
    background: #d7d7d7;
    position: relative;
    top: 20px;
    border: none;
    height: 3px;
    margin-bottom: 50px;
}

.reference-container>a {
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: blue;
    line-height: 30px;
}