<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="evail-saint">
  <div class="d-flex" id="wrapper">
    {% include sidebar.html %}

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <button class="btn btn-primary navbar" id="menu-toggle"></button>

      <div class="container-fluid right-main-container">
        <div class="row nav-search-row">
          <div class="col-2 right-logo-col">
            <a href="{{site.baseurl}}/">
              <img src="{{site.baseurl}}/assets/images/white-logo.png" class="nav-img" alt="ES-Wordmark" />
            </a>
          </div>
          <div class="col-6 top-search-col">
            <div class="input-group" id="search-container">
              <input type="text" id="search-input" class="form-control nav-search" placeholder="Search"
                aria-label="Recipient's username" aria-describedby="basic-addon2" />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"><img
                    src="{{site.baseurl}}/assets/images/nav-serach.png" alt="" /></span>
              </div>
            </div>
          </div>
          <div class="col-3 nav-icons">
            <span class="header-share"><a href="https://github.com" target="_blank"><img
                  src="{{site.baseurl}}/assets/images/nav-share.png" alt="" /></a></span>
            <span class="header-twitter"><a href="https://twitter.com" target="_blank"><img
                  src="{{site.baseurl}}/assets/images/nav-twitter.png" alt="" /></a></span>
            <span class="header-mail"><a href="{{site.baseurl}}/contact.html"><img
                  src="{{site.baseurl}}/assets/images/nav-emailicon.png" alt="" /></a></span>
            <button class="btn toggle-btn" onclick="myFunction()">Dark Mode</button>
          </div>
        </div>
        <div class="row my-row">
          <div class="container card-containers">

            <h1>
              <ul id="results-container"></ul>
            </h1>
            <div class="card-columns">
              {{content}}
              <img class="ads ad-1 img-adidas" style="max-width: 420px; width: 100%; display: block;" />
              <img class="ads ad-2 img-por" style="max-width: 420px; width: 100%; display: block;" />
              <img class="ads ad-3 img-nike" style="max-width: 420px; width: 100%; display: block;" />
              <!-- <img class="ads ad-1 img-adidas" src="{{site.baseurl}}/assets/images/adidas.png" alt=""
                style="max-width: 420px; width: 100%; display: block;" />
              <img class="ads ad-2 img-por" src="{{site.baseurl}}/assets/images/por1.png" alt=""
                style="max-width: 420px; width: 100%; display: block;" />
              <img class="ads ad-3 img-nike" src="{{site.baseurl}}/assets/images/nike1.png" alt=""
                style="max-width: 420px; width: 100%; display: block;" /> -->
            </div>

            <!-- Pager -->
            {% if paginator.total_pages > 1 %}
            <na id="paginator-nav" varia-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  {% if paginator.page != 1 %}
                  <a class="page-link prev-btn"
                    href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span>Prev</span>
                  </a>
                  {% else %}
                  <a class="page-link prev-btn" href="{{ site.baseurl }}/"><span>Prev</span> </a>
                  {% endif %}
                </li>


                {% assign rightlimit = paginator.page | plus:2 %}
                {% assign startlimit = 2 %}

                {% if paginator.page == 1 %}
                {% assign rightlimit = paginator.page | plus:4 %}
                {% elsif paginator.page == 2 %}
                {% assign rightlimit = paginator.page | plus:3 %}
                {% endif%}
                {% assign value = paginator.total_pages | minus:1 %}

                {% assign value = paginator.total_pages | minus:1 %}
                {% if paginator.page == value %}
                {% assign startlimit = 3 %}
                {% elsif paginator.page == paginator.total_pages %}
                {% assign startlimit = 4 %}
                {% endif %}


                {% assign start = paginator.page | minus:startlimit %}
                {% assign end = paginator.page | minus:1 %}
                {% for index in (start..end) %}
                {% if index == 1 %}
                <li class="page-item">
                  <a class="page-link new-pg-num" href="{{ site.baseurl }}/"><span>{{ index }}</span></a>
                </li>
                {% elsif index > 1 %}
                <li class="page-item">
                  <a class="page-link new-pg-num" href="{{ site.baseurl }}/page{{ index }}"><span>{{ index }}</span></a>
                </li>
                {% endif %}
                {% endfor %}

                {% if paginator.page == 1 %}
                <li class="page-item">
                  <a class="page-link new-pg-num active"
                    href="{{ site.baseurl }}/"><span>{{ paginator.page }}</span></a>
                </li>
                {% else %}
                <li class="page-item">
                  <a class="page-link new-pg-num active"
                    href="{{ site.baseurl }}/page{{ paginator.page }}/"><span>{{ paginator.page }}</span></a>
                </li>
                {% endif %}


                {% assign start = paginator.page | plus:1 %}
                {% assign end = rightlimit %}
                {% for index in (start..end) %}
                {% if index <= paginator.total_pages %}
                <li class="page-item">
                  <a class="page-link new-pg-num" href="{{ site.baseurl }}/page{{ index }}"><span>{{ index }}</span></a>
                </li>
                {% endif %}
                {% endfor %}

                <li class="page-item">
                  {% if paginator.page != paginator.total_pages %}
                  <a class="page-link next-btn"
                    href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span>Next</span></a>
                  {% else %}
                  <a class="page-link next-btn"
                    href="{{ site.baseurl }}/page{{ paginator.total_pages }}/"><span>Next</span></a>
                  {% endif %}
                </li>

              </ul>
              </nav>
              {% endif %}
          </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
    </div>
  </div>
  <!-- /#wrapper -->
  {% include scripts.html %}
</body>

</html>