---
layout: inner
---
<div class="col-7 gallary-content-col">
  <div class="row">
    <div class="col-2"><img src="/assets/images/{{page.image}}" alt=""></div>
    <div class="col topic-heading-col">
      <h3 class="topic-heading">{{ page.title }}</h3>
      <span class="card-date">{{ page.date | date_to_string }}</span>
    </div>
  </div>
  <hr>
  {{ content }}
  <hr>
  <div class="row text-right">
    <div class="col card-btn-bottom">
      {% for tag in page.tags %}
      <a href="/" class="btn card-btn-pro">{{ tag }}</a>
      {% endfor %}
    </div>
  </div>
</div>
